{% extends "admin/change_list.html" %}

{% load i18n static admin_urls %}

{% block extrastyle %} {{ block.super }}
    <style type="text/css">
        .field-actions a.addlink { background-image: url('{% static "admin/img/icon-addlink.svg" %}'); }
        .field-actions a.viewlink { background-image: url('{% static "admin/img/icon-viewlink.svg" %}'); }
        .field-actions a.changelink { background-image: url('{% static "admin/img/icon-changelink.svg" %}'); }
        .field-actions a.deletelink { background-image: url('{% static "admin/img/icon-deletelink.svg" %}'); }
    </style>
{% endblock %}
